VITE_API_BASE_URL=
VITE_PUBLIC_URL=

VITE_NETWORK=
VITE_CHAIN_ID=

VITE_USE_INDEXER_IMAGE=

// backend apis retry count
VITE_API_RETRY_COUNT=

// wait time to safely connect socket
VITE_PRESENCE_FRONT_BUFFER_MS=

// local storage wait time to call backend
VITE_PRESENCE_QUANTUM_SEC=

// time to add after in local storage counter
VITE_PRESENCE_TICK_SEC=

// number of images left to consume when next10 fires
VITE_PREFETCH_THRESHOLD=

// 0g indexer url for image
# VITE_INDEXER_BASE_URL=https://indexer-storage-turbo.0g.ai/file?root=
VITE_INDEXER_BASE_URL=

// number of retries for 0g indexer
VITE_INDEXER_FETCH_RETRIES=

VITE_PRIVY_APP_ID=
## Allowed EVM chain (0G Aristotle Mainnet)
